@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


:root{
    --regular-font-familiy: "Poppins", sans-serif;
    --standard-font-family:"Playfair Display", serif;



    --hover-color:#aacd72;
    --ast-global-color-0: #01544f;
    --ast-global-color-1: #aacd72;
    --ast-global-color-2: #000000;
    --ast-global-color-3: #3a3a3a;
    --ast-global-color-4: #FFFFFF;
    --ast-global-color-5: #daeded;
    --ast-global-color-6: #111111;
    --ast-global-color-7: #f9e8d9;
    --ast-global-color-8: #111111;


}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.top-bar-parent{
    background-color: #01544f; 
    padding: 10px 10px; 
}
.top-bar-parent ul{
    display: flex;
    justify-content:space-between;
}
.top-bar-parent ul li{
    list-style-type: none;
}
.top-bar-parent ul li a{
    text-decoration: none;
    color: white;
    font-size:20px;
}
.top-bar-parent ul li a i{
    margin: 8px;
    font-size:16px;
}
/* navigation code start here */
.navigation{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 20px 20px;
}
.nav-logo{
    width:30%;
}
.nav-logo img{
    width:100%;
}
.menu-btn{
    font-size:25px;
    cursor: pointer;
    display: none;
    color: black;
}
.menubar{
   display: flex;
   justify-content:space-between;
   gap:20px;
   align-items: center;
}
.menubar li{
    list-style-type: none;
}
.menubar li a{
    font-size:16px;
    text-decoration: none;
    color:var(--ast-global-color-6);
    font-family: var(--regular-font-familiy);
    transition: 0.5s;
}
.menubar li a:hover{
    color: var(--ast-global-color-1);
}
.dropdown-menu{
    opacity:0;
    visibility:hidden;
    max-width: 100%;
    position: absolute;
    background-color: #01544F;
    margin-top: 10px;
    transition: 0.5s ease;
    
}
.dropdown-menu li{
    list-style: none;
    padding: 15px;
    border-bottom: 1px solid white;
}
.dropdown-menu li a{
    text-decoration:none;
    color: white !important;
}
.dropdown-menu li:hover{
    background-color: #aacd72;
}
.menubar li:hover .dropdown-menu{
    opacity: 1;
    visibility: visible;
}
.right-caret i{
    margin-left: 10px;
}
.book-btn{
    padding:14px 36px;
    background-color: #f79f6e;
    text-decoration: none;
    border-radius:30px;
    color: var(--ast-global-color-4) !important;;
    transition: 0.5s;
    font-size:18px;
    font-family: var(--regular-font-familiy);
}
.book-btn:hover{
    background-color: var(--ast-global-color-1);
}
.hero-section{
    height:70vh;
    background-image: url(../image/young-handsome-physician-medical-robe-with-stethoscope.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; 
    display:flex;
    justify-content:flex-start;
    align-items: center;
    padding: 10px;
}
.hero-text{
    width:100%;
    margin-top: 70px;
    padding: 30px;
    border-radius: 5px;
    text-align: center;
}
.hero-text h1{
    font-size: 45px;
    color: #FFFFFF;
    margin-bottom:10px;
    font-family: var(--standard-font-family);
}
/* main section code start here */
/* about section */
.about-section{
    padding: 70px 10px;
}
.about-section-parent{
    display: flex;
    justify-content: space-between;
    align-items:top;
    gap: 40px;
    margin: 0px 20px;
}
.about-section-parent > *{
    flex-basis: 100%;
}
.about-img-div{
    width: 100%;
}
.about-img-div img{
    width: 100%;
    border-radius:5px;
}
.about-text-div h2{
    font-size: 38px;
    font-family: var(--standard-font-family);
    margin-bottom: 20px;
}
.about-text-div h5{
    font-size: 23px;
    color: #01544F;
    font-family: var(--standard-font-family);
    margin-bottom: 20px;
}
.about-single-text p{
    color: #3a3a3a;
    font-family:var(--regular-font-familiy);
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 28px;
}
.about-single-text ul{
    list-style-position: inside;
    margin-bottom: 20px;
}
.about-single-text li{
    font-size: 16px;
    font-family:var(--regular-font-familiy);
    margin-bottom: 8px;
}
.about-single-text span{
    font-weight: bold;
}
/* second section code start here */
.five-section{
    background-color:#FFE5B4;
    padding: 60px 10px 60px 10px;
}
.five-section-parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 20px;
    gap: 40px;
}
.five-section-parent > *{
    flex-basis: 100%;
}
.five-section-image-div{
    width: 100%;
    position: relative;
}
.five-section-image-div img{
    width: 100%;
    border-radius: 5px;
}
.five-section-image-div::before{
    content: "";
    width:95%;
    height:95%;
    border: 2px solid #f1f1f1;
    position: absolute;
    top:2.5%;
    left:2.5%;
    border-radius: 5px;
}
.five-section-text h2{
    font-size:38px;
    font-family: var(--standard-font-family);
    margin-bottom: 20px;
}
.five-section-text h5{
    font-size: 23px;
    color: #01544F;
    font-family: var(--standard-font-family);
    margin-bottom: 20px;
}
.five-section-content p{
    font-size:20px;
    color: #3A3A3A;
    font-family: var(--regular-font-familiy);
    margin-bottom: 20px;
    line-height: 30px;
}
/* third section code start here */
.six-section{
    padding: 60px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    max-width:800px;
    margin:0px auto;
}
form h2{
    font-size: 38px;
    font-family: var(--standard-font-family);
    text-align: center;
    margin-bottom:40px;
}
.form-input{
    width:500px;
    padding:15px 20px;
    border-radius: 5px;
    outline: none;
    background: none;
    font-size:20px;
}
.form-btn{
    width: 200px;
    margin-left:30px;
    background-color: #f79f6e;
    color: white;
    font-size:20px;
    font-family: var(--regular-font-familiy);
    border: none;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    padding:15px 0px;
}
.form-btn:hover{
    background-color: #aacd72;
}
/* footer section code start here */
footer{
    background-color: #033330;
    padding: 60px 20px 10px 10px;
}
.footer-parent{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
}
.single-footer-iteam h6{
    font-size: 20px;
    font-family: var(--standard-font-family);
    color: #DAEDED;
    margin-bottom: 40px;
}
.single-footer-iteam h6::after{
    content: "";
    width: 80px;
    height:3px;
    background-color:var(--ast-global-color-5);
    display:block;
    margin:30px 0px;
}
.single-footer-iteam ul li{
    list-style-position: inside;
    list-style-type: none;
    margin-bottom: 20px;
}
.single-footer-iteam ul li a{
    text-decoration: none;
    font-size: 18px;
    font-family: var(--regular-font-familiy);
    color:var(--ast-global-color-5);
}
.single-footer-iteam ul li a span i{
    margin-right: 8px;
}
.social-icon a{
    background-color: #f79f6e;
    padding:12px 15px;
    border-radius: 5px;
    font-size:25px;
    color: white;
    margin-right: 8px;
    display: inline-block;
}

